.zoom {
    
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari 3-8 */
    transform: scale(0.9);
  }
  
  .zoom-out {
    
    transition: transform .2s;
  }
  
  .zoom-out:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }


  .fade-in {
    opacity: 0.6;
    transition: 0.3s;
  }
  
  .fade-in:hover {opacity: 1}  
  
  .fade-out {
    opacity: 1;
    transition: 0.3s;
  }
  
  .fade-out:hover {opacity: 0.6}


  .mirror:hover {
    transform: scaleX(-1);
  }
  
